h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.input-blocks {
    display: flex;
    justify-content: center;
}

.the-date {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    font-size: 24px;
    padding: .25%;
  }

  .joy-entry {
      font-size: 14px;
  }

